body {
  text-align:center;
  margin: 0px;
  border: 0px;
  background-color: #FFFFDD;
}

#header {
  background-color:#3D3D3D;
  color:#FFFFFF;
  font-size:22px;
  width:100%;
}

#header #header-divider {
  color:#FF0000;
}

#tictactoe {
  font-family:Helvetica;
  padding:20px 10px 10px 20px;
}

#tictactoe #player-id {
  color:#FF0000;
}

#tictactoe #game-board {
  margin:auto;
  width:350px;
  height:350px;
}

#tictactoe #board {
  margin-left:auto;
  margin-right:auto;
  border:2px solid #000000;
}

#tictactoe tr {
  height:100px;
}

#tictactoe td {
  width:100px;
  background-color:#555555;
  border-top:4px solid #AAAAAA;
  border-left:4px solid #888888;
  border-bottom:4px solid #000000;
  border-right:4px solid #000000;
  font-size:50px;
  color:#FF3333;
}

#tictactoe #buttons {
  height:20px;
  width: 210px;
  margin:0 auto;
  margin-bottom:30px;
}

#tictactoe #restart {
  float:left;
  width:60%;
  height:100%;
  background-color:#35FF1F;
  border-top:5px solid #83FF75;
  border-left:5px solid #68FF57;
  border-bottom:5px solid #46CC37;
  border-right:5px solid #46CC37;
  text-align:center;
  font-weight:bold;
}

#tictactoe #undo {
  float:right;
  width:30%;
  height:100%;
  background-color:#333333;
  border-top:5px solid #AAAAAA;
  border-left:5px solid #999999;
  border-bottom:5px solid #000000;
  border-right:5px solid #000000;
  text-align:center;
  color: #FFFFFF;
  font-weight:bold;
}

#tictactoe #error {
  font-weight:bold;
  font-size:20px;
  color: #FF0000;
}

#how-to-play {
  width:50%;
  margin:auto;
  padding:50px;
  text-align:left;
}

#how-to-play .title {
  text-align:center;
}
